a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out, filter 0.3s ease-in-out;

  &:hover {
    color: var(--accent-color);
    filter: drop-shadow(0 0 0.1rem var(--accent-color));
  }
}
