/* rock-salt-latin-400-normal */
@font-face {
  font-family: "Rock Salt";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/rock-salt@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/rock-salt@latest/latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.scroll-wrapper {
  --scroll-bg: #ffdd8a;
  --scroll-width: min(50%, 50vw);

  font-family: "Rock Salt", cursive;
  background-color: var(--scroll-bg);
  margin-inline: auto;
  margin-block: 0;
  border-inline-start: 1px solid var(--body-color);

  width: var(--scroll-width);
  padding: 3rem;
  color: #333;
  font-weight: 700;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset-inline-start: -1.5rem;
    inset-inline-end: 0;
    inset-block-start: -1.5rem;
    border-start-end-radius: 1.2rem;
    border-start-start-radius: 1.5rem;
    border-end-start-radius: 1.5rem;

    background-color: var(--scroll-bg);

    height: 3rem;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset-inline-start: -1.5rem;
    inset-inline-end: 0;
    inset-block-end: -1.5rem;
    border-start-start-radius: 1.5rem;
    border-end-end-radius: 1.2rem;
    border-end-start-radius: 1.5rem;

    background-color: var(--scroll-bg);

    height: 3rem;
  }

  & .title {
    text-align: center;
    font-size: 1.2rem;
    width:100%;
    text-decoration: underline wavy;
    padding-block-end: 1rem;
  }

  & ol {
    width: 90%;
    
    & li {
      &.done {
        text-decoration: line-through;
      }
    }
  }
}
